<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
        <div id="application-detail-table" class="table-responsive" ng-if="application">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                    <button type="button" class="btn btn-info btn-sm pull-right action-application-edit" title="Click To Edit Application" ng-click="goToUpdateApplicationView($event, application)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
                    <button type="button" class="btn btn-danger btn-sm pull-right action-application-delete" title="Click To Delete Application" ng-click="deleteApplication(application)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
                    <br>
                </div>
                <table class="table table-hover">
                    <tr>
                        <td>Application Name</td>
                        <td>{{application.applicationName}}</td>
                    </tr>
                    <tr>
                        <td>Application Acronym</td>
                        <td>{{application.acronym}}</td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Available Models
                    <br>
                </div>
                <table class="table table-hover">
                    <tr ng-repeat="model in application.models">
                        <td>Model Name</td>
                        <td>{{model.model_name}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <a href="#!/applications">See List Of All Applications</a>
        <div ng-if="!application" class="bg-danger">{{message}}</div>
        <div ng-if="isSubmitted">
            <div ng-class="{ 'bg-success': isSuccess, 'bg-danger': !isSuccess }">{{message}}</div>
        </div>
    </div>
</div>