<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
        <div class="panel panel-success" id="application-detail-table" ng-if="application">
            <div class="panel-heading">
                <h4 class="form-heading text-center">Application Details
                    <button type="button" class="btn btn-info btn-sm pull-right action-application-edit" title="Click To Edit Application" ng-click="goToUpdateApplicationView($event, application)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
                    <button type="button" class="btn btn-danger btn-sm pull-right action-application-delete" title="Click To Delete Application" ng-click="deleteApplication(application)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
                </h4>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <td class="col-md-12"><span class="col-md-4"><strong>Application Name</strong> : </span> <span class="col-md-4">{{application.applicationName}}</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-12"><span class="col-md-4"><strong>Application Acronym</strong> : </span> <span class="col-md-4">{{application.acronym}}</span></td>
                        </tr>
                    </table>
                </div>
                <a href="#!/applications">List Of Applications</a>
                <div ng-if="!application" class="bg-danger">{{message}}</div>
                <div ng-if="isSubmitted">
                    <div ng-class="{ 'bg-success': isSuccess, 'bg-danger': !isSuccess }">{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
        <div class="panel panel-success" id="application-detail-table" ng-if="application">
            <div class="panel-heading">
                <h4 class="form-heading text-center">Model Details </h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered models">
                        <tr ng-repeat="model in application.models">
                            <td>
                                <a ng-href="#!/models/info/{{model.model_id}}">{{model.model_name}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>