<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
        <div class="bg-info text-center" ng-if="aListCtrl.applications.length === 0">No Applications</div>
        <div class="list-group" ng-if="aListCtrl.applications.length > 0">
                <a class="list-group-item item-header" ng-if="aListCtrl.applications.length >0 ">
                        Application Name
                    </a>
            <a class="list-group-item" ng-repeat="application in aListCtrl.applications" ng-href="#!/applications/info/{{application.id}}" title="Click To See The Application Details">{{application.applicatioName}} ( {{application.acronym}} )
			    <button type="button" class="btn btn-info btn-sm pull-right action-application-edit" title="Click To Edit Application" ng-click="aListCtrl.goToUpdateApplicationView($event, application)">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button type="button" class="btn btn-danger btn-sm pull-right action-application-delete" title="Click To Delete Application" ng-click="aListCtrl.deleteApplication($event, application)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</a>
        </div>
        <br>
        <a class="btn btn-warning" href="#!/applications/new">Create New Application</a>

    </div>
</div>
