<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
        <div class="bg-info text-center" ng-if="message.length === 0">No API Found</div>
        <div class="list-group" ng-if="message.length > 0">
                <a class="list-group-item item-header" ng-if="message.length >0 ">
                        APIs
                </a>
            <div class="list-group-item" ng-repeat="item in message" ng-click="getInfo(modelId, item, null)"  title="Click to get APIs">
			    {{item}}
			</div>
        </div>

    </div>
</div>
<div style="margin-left:30%; width:100%" class="row" ng-if="showtextbox">
    Please enter Id of the record
    <input type="text" ng-model="modelDataId"/>
    <button type="button" ng-click="triggerApi()"> Get Record</button>
</div>
<div class="row" ng-if="getMessagedata" style="margin-left:30%; width:100%">
    <textarea name="" id="" cols="100" rows="10" value="getMessagedata">
            {{getMessagedata}}
    </textarea>
    
</div>